.info2{
	width: 85%;
	background-color: #F8FBFE;
}

.info_title {
	text-align: right;
	width: 15%;
	color: #890C1A;
	background-color: #EEF0F7;
}
.info{
	width: 35%;
	background-color: #F8FBFE;
}
.base_table{
	margin:5px 5px 5px 5px;
	border-left: 1px solid #99BBE8;
	border-top: 1px solid #99BBE8;
}

.base_table td{
	padding:5px 5px 5px 5px;
	border-right: 1px solid #99BBE8;
	border-bottom: 1px solid #99BBE8;
}

.fileInfo div{
	margin: 0px;
	left: 0px;
	background-color: #E0ECF9;
}

.fileInfo div  a{
	margin-left: 10px;
}
